[Desktop Entry]
Name=Tumbleweed-Leap openSUSE Dark V.2
Comment=dark openSUSE theme (Changes made by l4k1)

X-KDE-PluginInfo-Author=l4k1
X-KDE-PluginInfo-Email=opensuse-kde@opensuse.org
X-KDE-PluginInfo-Name=Tumbleweed-Leap-openSUSE-Dark-V.2
X-KDE-PluginInfo-Version=1.1
X-Plasma-API=5.0
X-KDE-PluginInfo-Website=http://en.opensuse.org/Portal:KDE
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPLv3
X-KDE-PluginInfo-EnabledByDefault=true
